<div class="row">
    <div class="col-sm-10 offset-sm-1">
      <form [formGroup]="postForm">
        <h2>Nouveau post</h2>
        <div class="form-group">
          <label for="title">Titre</label>
          <input type="text" id="title" class="form-control" formControlName="title">
        </div>
        <div class="form-group">
          <label for="content">Texte</label>
          <textarea name="content" id="content" cols="30" rows="6" class="form-control" formControlName="content"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="button" (click)="filePicker.click()">Ajouter image</button>
          <input type="file" #filePicker (change)="onImagePick($event)" accept="image/jpeg, image/png, image/gif">
        </div>
        <img *ngIf="imagePreview" [src]="imagePreview" alt="Selected image preview">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-danger" (click)="onCancel()">Annuler</button>
          <button type="submit" [disabled]="postForm.invalid" class="btn btn-success" (click)="onSubmit()">Soumettre</button>
        </div>
      </form>
    </div>
</div>
