<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>Se connecter</h1>
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" class="form-control" formControlName="username">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" class="form-control" formControlName="password">
      </div>
      <button class="btn btn-primary" (click)="onLogin()" [disabled]="loginForm.invalid">Connexion</button>
      <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
    </form>
  </div>
</div>
