.post-view {
  box-sizing: border-box;
  background-color: white;
  padding: 10px;
  margin: 20px;
}

.post-comments {
  box-sizing: border-box;
  background-color: white;
  padding: 10px;
  margin: 0 20px 20px 20px;
}

.vote-arrows {
  i {
    display: block;
    margin: 5px;
  }
}

.vote-arrow {
  cursor: pointer;
  &:hover {
    filter: opacity(50%);
  }
}

.post-image {
  max-width: 80%;
  max-height: 400px;
}

h2 {
  color: rgba(253, 46, 2, 1);
}

app-comment {
  width: 100%;
}
