<header class="row">
  <div class="col-6 logo-header">
    <img src="assets/icon-left-font.png" alt="groupomania logo">
    <img src="assets/reddit.png" alt="reddit logo">
  </div>
  <div class="col-6 header-links">
    <ul class="nav float-right">
      <li class="nav-item" *ngIf="!auth.isAuth">
        <a class="nav-link" routerLink="auth/login" routerLinkActive="active border border-left-0 border-right-0 border-primary">Login</a>
      </li>
      <li class="nav-item" *ngIf="!auth.isAuth">
        <a class="nav-link" routerLink="auth/signup" routerLinkActive="active border border-left-0 border-right-0 border-primary">Sign up</a>
      </li>
      <li class="nav-item" *ngIf="auth.isAuth">
        <a class="nav-link text-primary" routerLink="post/new" routerLinkActive="active border border-left-0 border-right-0 border-primary">New Post</a>
      </li>
      <li class="nav-item" *ngIf="auth.isAuth">
        <a class="nav-link text-primary" style="cursor: pointer" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</header>
