<div class="w-100">
  <div class="d-flex">
    <div class="votes text-center">
      <div class="vote-arrows">
        <i class="fa fa-lg fa-arrow-circle-o-up vote-arrow"
           [ngClass]="checkForUpVote"
           (click)="onVote(1)"></i>
        <div class="vote-number" [ngClass]="checkForVote">
          {{ comment.votes }}
        </div>
        <i class="fa fa-lg fa-arrow-circle-o-down vote-arrow"
           [ngClass]="checkForDownVote"
           (click)="onVote(-1)"></i>
      </div>
    </div>
    <div class="comment-content">
      <small class="comment-date">
        {{ comment.createdDate | timeAgo }}
      </small>
      <div class="comment-author">
        <img class="author-image" [src]="(author$ | async).photoUrl" alt="Author thumbnail">
        <small>{{ (author$ | async).username }}</small>
      </div>
      <hr>
      <p class="comment-text">{{ comment.content }}</p>
      <div class="edit-buttons">
        <small (click)="onDeleteComment()" *ngIf="currentUser.id === comment.authorId"><i class="fa fa-trash-o"></i>Delete</small>
      </div>
      <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
    </div>
  </div>
  <hr>
</div>
