.post-list-item {
  background-color: white;
  padding: 10px;
  margin: 20px;
}

.vote-arrows {
  i {
    display: block;
    margin: 5px;
  }
}

.vote-arrow {
  cursor: pointer;
  &:hover {
    filter: opacity(50%);
  }
}

.post-image {
  max-width: 80%;
  max-height: 400px;
}

h2 {
  color: rgba(253, 46, 2, 1);
}

.post-preview {
  cursor: pointer;
}

.edit-buttons {
  small {
    &:hover {
      filter: opacity(50%);
    }
    margin-right: 8px;
    cursor: pointer;
  }
  cursor: default;
}
