.author-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-content-text {
  white-space: pre-wrap;
}

.profile-link {
  cursor: pointer;
  &:hover {
    color: rgba(253, 42, 3, 1);
  }
}
